<template>
  <require from="../../resources/value-converters/number-format"></require>
  <require from="../../CSS/default/style.min.css"></require>

  <div class="row">
    <div class="col-12">

      <div show.bind="filter.part==null">
        <H5>Analyse par pi&egrave;ce </H5>
      </div>

      <div>

        <div style="font-size: 90%; width: 100%">
          <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
              <th colspan="6" style="background-color: transparent; border:0px; padding:0px">
                <div show.bind="filter.part==null">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination" style="margin-bottom:0px" if.bind="config.totalItems>0">
                      <li class="page-item">
                        <a class="page-link" href="#" if.bind="currentPage>1" click.trigger="gotoFirstPage()"><i class="fa fa-step-backward" ></i></a>

                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" if.bind="currentPage>1" click.trigger="setPage(-1)">Pr&eacute;c.</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" if.bind="currentPage>1" click.trigger="setPage(-1)">${currentPage-1}</a>
                      </li>
                      <li class="page-item disabled">
                        <a class="page-link">${currentPage}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" if.bind="currentPage<lastPageNumber" href="#" click.trigger="setPage(1)">${currentPage + 1}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" if.bind="currentPage<lastPageNumber" href="#" click.trigger="setPage(1)">Suiv.</a>
                      </li>

                      <li class="page-item">
                        <a class="page-link" if.bind="currentPage<lastPageNumber" href="#" click.trigger="gotoLastPage()"><i class="fa fa-step-forward" ></i></a>
                      </li>
                      <li class="page-item disabled">
                        <a class="page-link" if.bind="currentPage>=lastPageNumber" href="#" click.trigger="gotoLastPage()"><i class="fa fa-step-forward" ></i></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </th>
            </tr>
            <tr>
              <th scope="col">R&eacute;f. Fabriquant</th>
              <th scope="col">R&eacute;f. Kapp</th>
              <th scope="col">Libell&eacute;</th>

            </tr>
            </thead>
            <tbody class="table">
            <tr repeat.for="achat of achatsStats"  >
              <td scope="col">${achat.firstName}</td>
              <td scope="col">${achat.lastName}</td>
              <td scope="col" >${achat.email}</td>

            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</template>
